<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hero - Admin</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <style>
        .hero-list img {
            width: 50px;
        }
    </style>
</head>

<body>
    <header>
        <div class="page-header container">
            <h1>王者荣耀 <small>英雄管理器</small></h1>
        </div>
    </header>
    <div class="container hero-list">
        <form id='myform'>
            <input type="hidden" name="img" id="headSrc">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>姓名：</td>
                        <td><input type="text" name="name"></td>
                    </tr>
                    <tr>
                        <td>性别：</td>
                        <td><input id="nan" name="gender" value="男" type="radio"><label for="nan">男</label> <input
                                name="gender" value="女" type="radio" id="nv"><label for="nv">女</label></td>
                    </tr>
                    <tr>
                        <td>头像：</td>
                        <td><img src="../static/images/0.jpg" alt="" id="photo" width="100">
                            <input type="file" id="img"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input class="btn btn-primary" type="button" id="sub" value="新增"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modelId">
      Launch
    </button> -->

    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">提示</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        新增成功，稍后为您自动跳转
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script>
    //注册上传图片事件
    //先使用原生写

    //得到元素
    let upoloadImg = document.querySelector('#img');

    let photo = document.querySelector('#photo');

    let imgurl = undefined;
    // 注册事件
    upoloadImg.onchange = function () {
        let file = this.files[0];

        //把file变成数据流
        let fd = new FormData();
        fd.append('pic', file);


        //用ajax传值到服务器
        let xhr = new XMLHttpRequest();


        //设定type，url
        xhr.open('post', 'http://127.0.0.1:8080/uploadHeadImg');

        //发送图片
        xhr.send(fd);


        //监听
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                let obj = JSON.parse(xhr.responseText);
                console.log(obj);
                if (obj.code === 200) {
                    photo.src = obj.baseDir + obj.filePath;
                    imgurl = obj.filePath;
                }
            }
        }
    }


    //得到sub事件
    let sub = document.querySelector('#sub');

    sub.onclick = function () {

        //得到名字input元素
        let inputAll = document.querySelectorAll('input');

        // console.dir(inputAll); //得到一个input的数组

        // 先得到姓名得值
        let name = inputAll[1].value;

        let gender = undefined;
        let genderMale = inputAll[2].checked;
        let genderFemale = inputAll[3].checked
        if (genderMale || genderFemale) {
            if (genderMale) {
                gender = '男';
            } else {
                gender = '女';
            }
        } else {
            gender = undefined;
        }
        //图片路径 用 Imgurl 变量
        let img = imgurl;

        if (!name) {
            alert('请重新输入名字');
            return;
        } else if (!gender) {
            alert('请重新输入性别');
            return;
        } else {
            //用ajax传值到服务器
            let xhr = new XMLHttpRequest();

            xhr.open('post', 'http://127.0.0.1:8080/addNewHero');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.send(`name=${name}&gender=${gender}&img=${img}`);

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 & xhr.status === 200) {
                    console.log(xhr.responseText);
                }
            }
        }


        location.href = './index.html';

    }
</script>

</html>