<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hero - Admin</title>
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <style>
    .hero-list img {
      width: 50px;
      height: 50px;
      display: block
    }

    .hero-list td {
      height: 50px;
      line-height: 50px;
    }
  </style>
</head>

<body>
  <header>
    <div class="page-header container">
      <h1>王者荣耀 <small>英雄管理器</small></h1>

      <a href="javascript:void(0);" class="btn btn-exit btn-primary" hidden style='float:right;'>退出</a>
      <a href="login.html" class="btn btn-login btn-success" style='float:right'>登录</a>
    </div>
  </header>
  <div class="container hero-list">
    <a class="btn btn-add btn-success pull-right" hidden href="./add.html">添加英雄</a>
    <table class="table table-hover" hidden>
      <thead>
        <tr>
          <th>编号</th>
          <th>名称</th>
          <th>性别</th>
          <th>头像</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody id="tbody">
        <!-- <tr>
          <td>1</td>
          <td>狗蛋</td>
          <td>男</td>
          <td><img src="../static/images/0.jpg"></td>
          <td><a href="./edit.html?id=1">修改</a> 
            <a data-id="1" href="javscript:void(0);">删除</a>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">提示</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            你确定要删除吗？
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary btn-sure-del" data-id="null">确定</button>
        </div>
      </div>
    </div>
  </div>


  </script>
</body>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/template-web.js"></script>

<!-- 写一个模板 -->
<script type="text/template" id="tp">
  <% for(var i=0; i<$data.length; i++){ %>
    <tr>
        <td><%=$data[i].id%></td>
        <td><%=$data[i].name%></td>
        <td><%=$data[i].gender%></td>
        <td><img src="../static/images/<%=$data[i].img%>"></td>
        <td><a href="./edit.html?id=1">修改</a> 
          <a data-id="<%=$data[i].id%>" href="javscript:void(0);">删除</a>
        </td>
      </tr>
<% }  %>
</script>


<script>
  let id = localStorage.getItem('userId');

  // 设置一个flag确定是登录还是删除元素
  let flag = true;


  // 拿到闭包的数据
  let parent;
  let idd;

  //验证用户是否已经登录
  $.ajax({
    type: 'get',
    url: 'http://127.0.0.1:8080/isLogin',
    data: {
      id: id
    },
    success: function (res) {
      if (res.code !== 200) {
        $('.container-fluid').html('请重新登录');
        $('#modelId').modal();
      } else {
        $('.btn-login').hide();
        $('.btn-exit').removeAttr('hidden');
        $('.btn-add').removeAttr('hidden');
        $('.table').removeAttr('hidden');

        //成功登陆，导入数据。
        $.ajax({
          type: 'post',
          url: 'http://127.0.0.1:8080/getAllHero',
          success: function (res) {
            let infor = template('tp', res.data)
            $('#tbody').append(infor);
          }
        })

        //删除功能启用
        // 因为删除键是动态生成的，所以需要事件委托去删除数据
        //得到委托元素
        let tbody = document.querySelector('#tbody');

        //注册事件
        tbody.onclick = function (e, i) {
          if (e.target.innerHTML === '删除') {

            //把flag改变
            flag = false;

            // 弹出对话框问，问是否真的删除嘛？
            $('.container-fluid').html('确定删除吗？');
            $('#modelId').modal();

            //得到父元素
            parent = e.target.parentNode.parentNode;

            //得到对应的id
            idd = e.target.dataset.id;


          }
        }


      }
    }
  })



  //重新登录事件
  $('.btn-primary').on('click', function () {
    if (flag === true) {
      location.href = './login.html';
    } else {

      // 设定ajax请求
      let xhr = new XMLHttpRequest();

      let id = idd;

      // 设定type和url
      xhr.open('get', `http://127.0.0.1:8080/deleteHeroById?id=${id}`);

      // 发送请求
      xhr.send();

      // 监听事件
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          //删除父元素
          parent.remove();

          $('#modelId').modal('hide');
        }
      }
    }
  })

  //退出事件
  $('.btn-exit').on('click', function () {
    localStorage.clear();
  })
</script>

</html>